body {
    margin: 0;
}

.text-center {
    text-align: center;
}

.body-content {
    min-height: 600px;
    padding: 50px;
}

.section-header {
    height: 200px;
    padding-top: 200px;
    text-align: center;
}


/* BUSINESS
============================================================================= */

.page {
    bottom: 0;
    position: relative;
    top: 0;
    width: 100%;
    overflow-x: hidden;
}

.page-business {
    position: relative;
    background: #1b2838;
    .middle-dots::before {
        background: rgba(255, 255, 255, 0.2);
        box-shadow: 30px 0 rgba(255, 255, 255, 0.2), -30px 0 rgba(255, 255, 255, 0.2);
    }
    .smallTitle.future {
        font-weight: bold;
    }
}

.business-header {
    background: #171a21;
    background: url(../img/stormbg.jpg);
    position: relative;
    padding: 0;
    height: 700px;
    background-position: 100% 0%;
    background-attachment: fixed;
    background-size: cover;
}

.business-caption {
    background: #141D29;
    color: #BDCDDA;
    font-family: sans-serif;
    font-weight: initial;
    padding: 80px 20px;
}

.business-header-holder {
    z-index: 1;
    position: inherit;
    height: 100%;
    padding-top: 42px;
}

.business-header h1 {
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    font-size: 100px;
    margin: 0;
}

.body-content {
    background: #141D29;
    color: #BDCDDA;
    font-size: 1.5em;
}

// New Drowning animation
.arm {
    position: absolute;
    bottom: 10px;
    animation-name: arm-animate1;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transform: rotate(0deg);
}

.briefcase {
    position: absolute;
    bottom: 15px;
    left: 15px;
    animation-name: briefcase-animate1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform: rotate(0deg);
}

.wave {
    position: absolute;
    left: 0;
    bottom: 0;
    &.wave-1 {
        // margin-top: 10px;
        animation-name: wave-animate1;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }
    &.wave-2 {
        margin-top: -20px;
        animation-name: wave-animate2;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }
    &.wave-3 {
        margin-top: -35px;
        animation-name: wave-animate3;
        animation-duration: 5s;
        animation-iteration-count: infinite;
    }
}

@keyframes arm-animate1 {
    0% {
        transform: rotate(0deg);
        margin-bottom: 0;
    }
    50% {
        transform: rotate(-4deg);
        margin-bottom: -12px;
    }
}

@keyframes briefcase-animate1 {
    0% {
        left: 15px;
        margin-bottom: 0px;
    }
    50% {
        left: 20px;
        margin-bottom: -2px;
    }
}

@keyframes wave-animate1 {
    0% {
        left: 0;
    }
    50% {
        left: -150px;
    }
}

@keyframes wave-animate2 {
    0% {
        left: 0;
    }
    50% {
        left: -100px;
    }
}

@keyframes wave-animate3 {
    0% {
        left: 0;
    }
    50% {
        left: -250px;
    }
}

@keyframes bar-animate1 {
    0% {
        width: 200px;
    }
    50% {
        width: 500px;
        background: green;
    }
}

@keyframes bar-animate2 {
    0% {
        width: 200px;
    }
    50% {
        width: 300px;
        background: green;
    }
}

@keyframes bar-animate3 {
    0% {
        width: 200px;
    }
    50% {
        width: 550px;
        background: green;
    }
}

@keyframes bar-animate4 {
    0% {
        width: 200px;
    }
    50% {
        width: 400px;
        background: green;
    }
}
